/* 
Teal color (used for headings and backgrounds): #4aaaa5
Regular font color (used for paragraphs and all text besides the headings): #777777
Main header background color: #ffffff
Main header border color: #cccccc
Footer background color: #666666
Main content background color: #ffffff
Main content border color: #dddddd */

h1 {
  color: #4aaaa5;
}

p {
  color: #777777; 
  letter-spacing: 1px
  background-color: #ffffff;
}

/* Fonts */
h1,h2,h3,h4,h5,h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
p,div {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 30px;
}

header {
  background-color: #ffffff;
  position: relative;
  /* margin-bottom: auto;  */
  height: 80px;
  border-bottom: #666666;
   
  width: 100%;
 }

 body {
  background-image: url("../images/white_carbon_@2X.png");
}

section {
  background-color: #ffffff;
  width: 930px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px;
}

img {
  margin-right: 10px; 
}

footer {
  background-color: #666666;
  border-top: 8px solid #4aaaa5;
  color: #ffffff;
  text-align: center;
  padding-top: 50px;
}

hr {
  height: .5px;
  border-style: solid;
  border-color: #c5c4c4; 
  border-radius: 10px; 
  background-color: #c5c4c4;
}

.container {
  /* background-color: purple; */
  width: 960px;
  height: 80px;
  text-align: center;
  padding: 0px;
  margin: auto;
  } 

.namebox {
  color: #ffffff;
  width: 310px;
  height: 28px;
  background-color: #4aaaa5;
  text-align: center;
  padding: 15px;
  float: left;
}

nav {
  padding-top: 40px;
 text-align: right;
} 
