* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* Basics */
header {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  /* background-color: #d69dcd; */
  border-bottom: #cccccc solid;
}

.inner_header {
  width: 960px;
  height: 80px;
  text-align: center;
  margin: 0 auto;
  background-color: #ffffff;
}

.namebox {
  display: table;
  background-color: #4aaaa5;
  height: 80px;
  width: 310px;
  float: left;
}

.namebox h1 {
  color: #ffffff;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-size: 27px;

}

.navigation {
  height: 100%;
  float: right;
}

.navigation li {
  height: 100%;
  display: table;
  float: left;
  padding: 0 10px;
}

.navigation li a {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: #a5a5a5;
  font-size: 18px;
  font-weight: 500;
}

.navigation li sep {
  /* display: table-cell; */
  vertical-align: middle;
  color: #a5a5a5;
  font-size: 18px;
  font-weight: 500;
}

/* Other basic setup */
h1 {
  color: #4aaaa5;
}

p {
  color: #777777;
  letter-spacing: 1px;
  background-color: #ffffff;
}

/* Fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p,
div {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 30px;
}

body {
  display: table;
  background-image: url("../images/white_carbon_@2X.png");
  min-height: 100%;
  width: 100%;
  /* margin-bottom: 100px;
  padding-bottom: 100px; */
}

#pagecontainer {

  background-image: url("../images/white_carbon_@2X.png");
  margin: 1000px;
  height: auto;
  width: 960px;
}

section {
  background-color: #ffffff;
  width: 930px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px;
  overflow: auto;
  height: 100%;
}

/* Top of Section */

img {
  margin-right: 15px;
}

hr {
  height: .5px;
  border-style: solid;
  border-color: #c5c4c4;
  border-radius: 10px;
  background-color: #c5c4c4;

}

footer {
  /* display: table-row; */
  background-color: #666666;
  width: 100%;
  border-top: 8px solid #4aaaa5;
  color: #ffffff;
  text-align: center;
  padding-top: 50px;
}

.foot {
  background-color: #666666;
  width: 100%;
  border-top: 8px solid #4aaaa5;
  color: #ffffff;
  text-align: center;
  padding-top: 50px;
  width: 100%;
}

/* Header elements */
/* .container {
  width: 960px;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

.namebox {
  color: #ffffff;
  width: 310px;
  height: 100;
  background-color: #4aaaa5;
  text-align: center;
  padding: 20px;
  float: left;} */


@supports (display:grid) {
  body {
    position: static;
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
  }

  section {
    padding: 20px;
  }

  footer {
    position: static;
  }
}

*/